<% provide(:title, 'About Us') %>

    <h1>About Us</h1>
    <p>
	This website is planned to provide a searchable interface 
	to the database of Chinese character information
	on which the "Planting Seeds" book and e-book are based,
	in order to support and streamline access to the information in the book. 
    </p>
