<% provide(:title, 'Help') %>

    <h1>Help</h1>
    <p>
      To get help on the search interface, press the "Help" button by the individual search function.
    </p>
    <p>
      To get a full explanation of the operator system, click on the "operator list" button.
    </p>
