<% provide(:title, 'All Names') %>
<h1>All Pinnames</h1>

<%= will_paginate %>

<ol class="pinnames">
  <!--% @pinnames.each do |pinname| %
-->
    <!--li-->
      <!--%= image_for pinname %-->
      <%= render @pinnames %>
    <!--/li-->
  <!--% end %-->
</ol>

<%= will_paginate %>
