  <div class="center hero-unit">
      <h1>Welcome to the Char App, Planting Seeds</h1>

      <h2>
        This is the home page for the Char Application, Planting Seeds.
      </h2>

    <%= link_to "Sign up now:", signup_path, class: "btn btn-large btn-primary" %>
  <!-- Just for fun. These will be obsolete later. -->
    <!-- %= link_to "Create char", create_path, class: "btn btn-large btn-primary" % -->
    <!-- %= link_to "Create pinname", pinname_path, class: "btn btn-large btn-primary" % -->
    <!-- %= link_to "Create Char", add_pinname_path, class: "btn btn-large btn-primary" % -->
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

