<% provide(:title, 'Search') %>
<h1>Search For Chars</h1>

  <!--div class="span4"-->
  <div>
    <%= form_tag chars_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>
  </div>

  <div>
    <ol class="chars">
      <%= render @results %>
    </ol>
  </div>

